*.dist-info
__pycache__
_*
*.so
attr
attrs
awsgi
bin
boto3
botocore
certifi
charset_normalizer
click
clickclick
connexion
dateutil
flask
flask_cors
idna
importlib_metadata
importlib_resources
inflection
inflection.py
itsdangerous
jinja2
jmespath
jsonschema
markupsafe
packaging
pyparsing
pyrsistent
requests
s3transfer
six.py
urllib3
werkzeug
yaml
zipp.py